<div class='event-details'>
  <div class='details'>
    <h2>{{event.title}}</h2>
    <div>{{event.start | date:'dd MMMM, yyyy'}}</div>
  </div>
  <img src='{{event.banner}}' />
  <div class='description'>{{event.description}}</div>
</div>
<div class='tickets'>
  <h2>Venue</h2>
  <div>{{event.venue.name}}</div>
  <img width="600" height="300" [src]="event.venue.map" alt="event venue" />
</div>
<div class='tickets'>
  <h2>Tickets</h2>
  <ng-container *ngFor="let section of event.sections">
    <div class='ticket' *ngIf="section.active">
      <div class='details'>
        <div class='name'>{{section.name}}</div>
        <div class='price'>EC${{section.getBestPrice(selection[section.id]).amount | currency:'':'':'.2-2'}} | US${{section.getBestPrice(selection[section.id]).amount/2.7 | currency:'':'':'.2-2'}}</div>
        <div class='date'>This rate ends {{section.getBestPrice(selection[section.id]).availableFor | date:'dd MMMM, yyyy @ hh:mm'}}</div>
      </div>
      <select (change)="updateOrder(section)" [(ngModel)]="selection[section.id]">
        <option *ngFor="let value of range" value="{{value}}">{{value > 9?value:'0'+value}}</option>
      </select>
    </div>
  </ng-container>
  <div class='ticket'>
    <div class='details'>
      <div class='name'>Convenience fees this purchase:</div>
      <div class='price'>EC${{order.convenienceFees | currency:'':'':'.2-2'}} | US${{order.convenienceFees/2.7 | currency:'':'':'.2-2'}}</div>
    </div>
  </div>
  <div class='ticket'>
    <div class='details'>
      <div class='name'>Total:</div>
      <div class='price'>EC${{order.total | currency:'':'':'.2-2'}} | US${{order.total/2.7 | currency:'':'':'.2-2'}}</div>
    </div>
  </div>
  <div class='error'>{{error}}</div>
  <div class='button' (click)="placeOrder()">Place Order</div>
</div>
