<div class='order-details'>
  <h2>Order Checkout</h2>
  <div class='error'>{{error}}</div>
  <div class='button' (click)="cancelOrder()">Cancel Order</div>
  <div class='time-left'><strong>{{timeLeft.minutes | number:'2.0-0'}}:{{timeLeft.seconds | number:'2.0-0'}}</strong> to complete your order</div>
  <div class='summary'>
    <div class='field'>
      <label>Event</label>
      <span>{{order.items[0].event.title}}</span>
    </div>
    <div class='field'>
      <label>Tickets</label>
      <span *ngFor="let item of order.items">{{item.quantity}}x {{item.section.name}} - EC${{(item.section.basePrice + (item.modifier?item.modifier.priceDelta:0)) | currency:'':'':'.2-2'}}</span>
      <span>Convenience Fees: EC${{order.convenienceFees | currency:'':'':'.2-2'}}</span>
    </div>
    <div class='field'>
      <label>Total</label>
      <span>EC${{(order.total + order.convenienceFees) | currency:'':'':'.2-2'}}</span>
    </div>
  </div>
</div>
<form [formGroup]="paymentForm">
  <h2>Billing Information</h2>
  <div class='error'>{{error}}</div>
  <input type='text' formControlName="cardholder" placeholder='Please enter a cardholder name' />
  <input type='text' formControlName="number" placeholder='Please enter your card number' />
  <input type='text' formControlName="cvv" placeholder='Please enter your card cvv' />
  <input type='text' formControlName="expiryDate" placeholder='Please enter your card expiryDate' />
  <input type='text' formControlName="address1" placeholder='Please enter your first address line' />
  <select formControlName="country">
    <option value=''>Please enter your country</option>
    <option *ngFor="let country of countries" [value]="country">{{country}}</option>
  </select>
  <input type='email' formControlName="email" placeholder='Please enter cardholder email address' />
  <input type='phone' formControlName="phone" placeholder='Please enter cardholder phone number' />
  <div class='button' (click)="payForOrder()">Confirm Order</div>
</form>
