.error{
  color:#FF0000;
  margin:20px 0px;
  font-weight: bold;
}

.button{
  display:block;
  background-color:#0022AA;
  width:300px;
  color:#FFFFFF;
  outline:none;
  border:0px;
  padding:10px;
}
