h2{
  text-align:center;
}

.search{
  width:500px;
  margin:10px auto;
  
  input{
    width:100%;
  }
}

.filters{
  width:500px;
  margin:10px auto;
  display:flex;
  justify-content: center;

  .filter{
    margin:10px;
    cursor:pointer;
    padding:5px;
  }

  .filter.active{
    background-color:#2423AA;
    color:#FFFFFF;
  }
}

.host{
  cursor:pointer;
  width:500px;
  margin:10px auto;
  border:solid 1px #888888;
  border-radius:5px;
  padding:5px;
  align-items: flex-start;
  font-family: sans-serif;

  .event-details{
    display: flex;
    justify-content: flex-start;

    img{
      width:125px;
      height:125px;
      margin-right:15px;
    }

    .name{
      font-weight:bold;
      font-size:20px;
    }

    .balance{
      font-size:25px;
    }
  }
}
