<div class='event-details'>
  <a (click)="goBack()" class="back">&laquo;Back</a>
  <img src='{{event?.banner+"?"+timestamp}}' />
  <div class='event-row'>
    <div class='details'>
      <h2>{{event?.title}}</h2>
      <div>{{event?.start | date:'dd MMMM, yyyy'}}</div>
      <div>{{event?.venue.name}}</div>
    </div>
  </div>
  <div class='event-row'>
    <div class='button' (click)="editEvent()">Edit Event</div>
    <div class='button submit' [ngClass]="{inactive:event?.status !== 'Draft'}" (click)="submitEvent()">Submit Event</div>
  </div>
  <div class='event-row'>
    <div class='error'>{{error}}</div>
  </div>
  <div class='sections'>
    <h2>Sections</h2>
    <div class='section' *ngFor="let section of event?.sections" (click)="modifySection(section)">
      <div class='details'>
        <div>{{section.name}}</div>
        <div>From {{section.salesStart | date:'dd MMMM, yyyy'}}</div>
        <div>{{section.basePrice | currency}}</div>
      </div>
      <div *ngIf="section.modifiers.length > 0">
        <h3>Modifiers</h3>
        <ul>
          <li *ngFor="let modifier of section.modifiers" class='modifier'>
            <div class='title'>{{modifier.name}}</div>
            <div class='details'>
              <span>{{section.basePrice + modifier.priceDelta | currency}}</span>
              <span>{{modifier.availableFrom | date:'dd MMMM, yyyy hh:mm'}} to {{modifier.availableTo | date:'dd MMMM, yyyy hh:mm'}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class='button' [routerLink]="['/events/create-section']">Add Section</div>
  </div>
</div>
