.container{
  width:600px;
  margin:10px auto;
  font-family: sans-serif;
}

h1{
  width: 100%;
  margin: 10px 0px;
  margin-bottom: 25px;
}

.description{
  width: 100%;
  margin: 10px 0px;

  .value{
    margin-right: 10px;
    width: calc(100% - 125px);
  }
}

.field{
  display: flex;
  margin-bottom: 10px;

  .name{
    font-weight: bold;
    width: 125px;
  }
}

.details{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: space-between;
  height: 150px;
  width:600px;
  margin: 0 auto;
  font-family: sans-serif;
}

.submenu{
  width:100%;
  max-width: 600px;
  margin:15px 0px;
  display:flex;
  justify-content: flex-start;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding: 10px 0px;

  .item{
    cursor:pointer;
    padding:5px;
    margin-right: 10px;
  }

  .item.active{
    background-color:#2423AA;
    color:#FFFFFF;
  }
}

.host{
  margin-top: 10px;
  cursor:pointer;
  border:solid 1px #888888;
  border-radius:5px;
  padding:5px;
  align-items: flex-start;
  font-family: sans-serif;
  margin-bottom: 15px;

  .event-details{
    display: flex;
    justify-content: flex-start;

    img{
      width:125px;
      height:125px;
      margin-right:15px;
    }

    .name{
      font-weight:bold;
      font-size:20px;
    }

    .balance{
      font-size:25px;
    }
  }

  .advertisement-details{
    .name{
      font-weight:bold;
      font-size:20px;
    }

    img{
      width:100%;
    }

    .content{
      display:flex;
      justify-content: space-between;
      align-items: center;

      .button{
        width:40%;
        height:20px;
        margin:0px;
      }
    }
  }

  h3{
    text-align: center;
    border-top:1px solid black;
    border-bottom:1px solid black;
  }

  .link{
    color:#2211FF;
    display:block;
    margin:15px auto;
    width:110px;
  }
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 225px;
}

.button{
  display:block;
  background-color:#0022AA;
  width:300px;
  color:#FFFFFF;
  outline:none;
  border:0px;
  padding:10px;
  margin:0 auto;
  text-align: center;
  cursor:pointer;
}

.button.left{
  margin: 0px;
  margin-bottom: 10px
}

.button.submit{
  background-color: #009933;
}

.button.inactive{
  background-color:#AAAAAA;
}

.message{
  font-weight: bold;
}

.showing{
  display: flex;
  justify-content: space-between;
  border-top:1px solid black;
  border-bottom:1px solid black;
  padding:5px;
  margin-bottom:5px;
}

.listing{
  margin: 20px 0px;

  .filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width:100%;
    max-width: 700px;

    .filter{
      display: flex;
      flex-direction: column;

      .label{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .value{
        font-size: 14px;
        padding: 5px;
        padding-left: 0px;
        display: flex;

        input{
          width: 300px;
          padding: 5px;
        }

        .button{
          margin-left: 10px;
          width: 150px;
        }
      }
    }
  }

  table{
    border-collapse: collapse;
    width: 100%;

    thead{
      th{
        padding: 10px;
        color: #FFFFFF;
        background-color:#2423AA;
        text-align: left;
      }
    }

    tbody{
      tr{
        td{
          white-space: nowrap;
          padding: 10px;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;

          .remove{
            font-weight: bold;
            cursor: pointer;
          }
        }
      }

      tr.even{
        td{
          background-color: #FFFFFF;
        }
      }

      tr.odd{
        td{
          background-color: #CDEEFD;
        }
      }

    }
  }
}
