<h2>Redeem Tickets</h2>

<div class='container'>
  <form [formGroup]="selectionForm">
    <select formControlName="event" (change)="changeEvent()">
      <option value="">Please select an event to scan</option>
      <option *ngFor="let event of events" value="{{event.self}}">{{event.title}}</option>
    </select>
    <select formControlName="section" (change)="changeSection()">
      <option value="">Please select an event section to scan</option>
      <option *ngFor="let section of event?.sections" value="{{section.self}}">{{section.name}}</option>
    </select>
    <input *ngIf="section" placeholder="Search fo ticket serial" type="text" formControlName="serial" (input)="searchTicket()" />
  </form>
</div>

<div *ngIf="section" class='filters'>
  <div class='filter' (click)="setStatus('Issued')" [ngClass]="{'active':status == 'Issued'}">Issued</div>
  <div class='filter' (click)="setStatus('Redeemed')" [ngClass]="{'active':status == 'Redeemed'}">Redeemed</div>
  <div class='filter' (click)="setStatus('Held')" [ngClass]="{'active':status == 'Held'}">Held for Transfer</div>
</div>

<div class='ticket' *ngFor="let ticket of tickets">
  <div>
    <div class='name'>{{ticket.serial}}</div>
    <div class='contact'>{{ticket.owner.firstName}} {{ticket.owner.lastName}}</div>
  </div>
  <div class='balance'>
    <div class='button' [ngClass]="{disabled: status !== 'Issued'}" (click)="redeemTicket(ticket)">Redeem</div>
  </div>
</div>
<div class='message' *ngIf="section && tickets.length == 0">There are no tickets matching your search</div>
